<%= simple_form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.input :title %>
	<%= f.input :venue%>
	<%= f.input :street_number%>
	<%= f.input :street_name%>
	<%= f.input :city%>
	<%= f.input :state%>
	<%= f.input :zip%>
	<%= f.input :description%>
	<%= f.input :cost%>
	<%= f.input :tickets%>
	<%= f.input :url%>
	<%= f.input :image%>
	<%= f.input :category%>
	<%= f.button :submit %>
<% end %>
