<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @event.street_number %>
</p>
<p>
  <strong>Street name:</strong>
  <%= @event.street_name%>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @event.cost%>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @event.tickets%>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>
<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>
<%= link_to 'Pin Event', "/events/#{@event.id}/pin_event" %> 


  <% if @shown_user && !@shown_user[1] %>
    <%= link_to "Left", "/events/#{@event.id}/users/#{@shown_user[0].id}/tinder/no", method: :post %>
    <%= image_tag(@user_image) %>
    <%= link_to "Right", "/events/#{@event.id}/users/#{@shown_user[0].id}/tinder/yes", method: :post %><br>
    <%= link_to "#{@shown_user[0].name}", "/users/#{@shown_user[0].id}" %><br>
  <% elsif @user %>
    <h3>You are matched with <%=@shown_user[0].name%>!</h3>
    <%= image_tag(@shown_user_image) %><br>
  <% else %>
    <p><%=@message%></p>
  <% end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', "/dashboards/index#t2" %>

