<!-- tinder within modal -->
<% if @shown_user && !@shown_user[1] %>
	<h2 id="shown-user-name-tinder"> <%=@shown_user[0].name%></h2>
			<%=image_tag(@shown_user_image, :class =>"tinder_modal_image", :id => "tinder-modal-image")%>
  <div class="swiping_buttons">
  <%= link_to image_tag("tinderX.jpg", id: "x-pic"), "#", id: 'no' %>
  <%= link_to image_tag("tinderHeart.jpg", id: "heart-pic"), "#", id: 'yes' %><br>      
  </div>
  <br>  
  <div class="tinder_bio">
    <h4><%=@shown_user[0].age%></h4> 
    <h5 id="tinder-bio"><%=@shown_user[0].bio%></h5>
  <div>
<% elsif @shown_user %>
  <h2 id="shown-user-name-tinder">You matched with <%=@shown_user[0].name%>!</h2>
  <%= image_tag(@shown_user_image, :class =>"tinder_modal_image") %><br>	
<% else %>
  <% @shown_user = [current_user] %>	
	<p class="update_profile_to_cont" id="profile-message"><%=@message%></p>
	<% if @no_profile %>
	<p class="update_profile_to_cont">
	<a href="#" class="profile event-link event-image " id="#myModal_<%=current_user.id%>" data-target="#myModal_<%=current_user.id%>" data-toggle="modal"
			><li class="update_profile_to_cont" id="cuatro"><span class="btn">Profile </span></li></a>
  
		</p>
<% end %>
<% end %>

<script type="text/javascript">
  $('#no').click(function(event) {
    event.preventDefault();
    // $('#no').attr('id', 'swipe-left');
    $('#tinder-modal-image').attr('id', 'swipe-left');
    setTimeout(function(){

    $.post("/events/tinder_logic", {
      "event_id" : Number(event.currentTarget.parentElement.parentElement.id.split('modal-tindering')[1]),
      "like" : event.currentTarget.parentElement.parentElement.id,
      "shown_user" : <%= @shown_user[0].id %> 
    }, function(html) {
      $('#modal-tindering' + event.currentTarget.parentElement.parentElement.id.split('modal-tindering')[1]).html(html);
    });
  }, 1010);
  });

  $('#yes').click(function(event) {
    event.preventDefault();
    // $('#yes').attr('id', 'swipe-right');
    $('#tinder-modal-image').attr('id', 'swipe-right');
    setTimeout(function(){
    $.post("/events/tinder_logic", {
      "event_id" : Number(event.currentTarget.parentElement.parentElement.id.split('modal-tindering')[1]),
      "like" : event.currentTarget.id,
      "shown_user" : <%= @shown_user[0].id %> 
    }, function(html) {
      $('#modal-tindering' + event.currentTarget.parentElement.parentElement.id.split('modal-tindering')[1]).html(html);
    });
  }, 1010);
  });
  $('.btn').click(function(event){
    $(id='#myModal_<%=current_user.id%>').attr('title', event.target.parentNode.parentNode.parentNode.id);
  });
</script>  


