  <div class="ct" id="t1">
    <div class="ct" id="t2">
      <div class="ct" id="t3">
        <div class="ct" id="t4">

          <section>
             <!-- Left navigaiton bar. Icons that use anchors to pull in page into view (#t2 = Events page) -->
             <ul>

               <ul class="hmenu">
                <%= render 'devise/menu/registration_items' %>
                <%= render 'devise/menu/login_items' %>
               </ul>

               <a href="#t1"><li class="icon fa fa-home" id="uno"><span class="hint"> Home </span></li></a>
               <a href="#t2"><li class="icon fa fa-thumb-tack" id="dos"><span class="hint"> Events </span></li></a>
               <a href="#t3"><li class="icon fa fa-comments" id="tres"><span class="hint"> Messages </span></li></a>
             </ul>

                <!-- Home Page -->

                <div class="page home-page-background" id="p1">
                  <div class="container-fluid">
                     <li class="icon fa fa-home"><span class="title">Home<span class="hint" style="color:red;"> You haven't selected any events</span></span></li>
                  <!--  <% current_user.events.uniq.each do |event| %>
                    <div class="col-md-4 homepage-event-image">
                            <a href="/events/<%=event.id%>" class="event-link" style="background: url(<%=event.image%>) center no-repeat; background-size: contain;"> </a>
                            <%= link_to 'Pin Event', "/events/#{event.id}/pin_event" %>
                          </div>
                    <% end %>   -->
                  </div>
                </div>

                <!-- Events Page -->
                <div class="page" id="p2">
                <div class="container-fluid">
                 <!-- iterate through slices of 3 of events, create modals -->
                    <%=@events.order("date").each_slice(3) do |event_row| %>
                      <div class="row">
                        <% event_row.each do |event| %>
                          <div class="col-md-4 homepage-event-image">
                          <!-- image is a clickable link to modal of single event page -->
                            <a href="#" class="event-link" data-toggle="modal" data-target="#basicModal" style="background: url(<%=event.image%>) center no-repeat; background-size: contain;"> </a>
                                  <!-- Modal -->
                              <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
                                    </div>
                                    <div class="modal-body">
                                      <h3>Modal Body</h3>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            <%= link_to 'Pin Event', "/events/#{event.id}/pin_event" %>
                          </div>
                        <% end %>
                      </div>
                    <%end%>
                  </div>
                </div>

                <!-- Messages Page -->
                <div class="page" id="p3">
                  <li class="icon fa fa-comments"><span class="title">Hotline Bling</span></li>
                </div>

                <!-- Footer -->
                <p class="credit"> &copy; Down 2 Go <a href="https://downtogo.com/">Made in Brooklyn</a></p>
          </section>

        </div>
      </div>
    </div>
  </div>
