<style>
* {
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
}

html,body,section,.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.5,-0.005,0.2,1) !important;
    -webkit-transition: all 1s cubic-bezier(.5,-0.005,0.2,1) !important;
    color: #fff;
    background: #000;
/* Home background color */
    overflow-x: hidden;
    overflow-y: scroll;
}

section {
    width: 400%;
}

.page {
    position: absolute;
}

.inside {
    display: inline-block;
}

/* close commented backslash hack */
/* 
> Position and background color of individual pages
> p1 = Home
> p2 = Events
> p3 = Messages
*/
#p1 {
    left: 10%;
    position: fixed;
}

#p2 {
    left: 100%;
    background: #ffd006;
    position: fixed;
}

#p3 {
    left: 200%;
    background: #ffd006;
    position: fixed;
}

/*added  ***commented out by SK*/
#event-page-style {
    padding-right: 13%;
/*padding-left: 70px; */
}

ul {
    position: fixed;
    z-index: 1;
}

#t1:target .page#p1 {
    transform: translateX(0);
}

#t2:target .page#p2 {
    transform: translateX(-90%);
}

#t3:target .page#p3 {
    transform: translateX(-190%);
}

/* Background color during page transitions */
#t2:target .facebook,#t3:target .facebook {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#t2:target .page#p1,#t3:target .page#p1 {
    background: #000;
}

/* Screen blur during page transitions */
#t2:target .page#p1 .icon,#t3:target .page#p1 .icon {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.icon {
    color: #fff;
    font-size: 32px;
    display: block;
}

ul .icon:hover {
    opacity: .6;
}

/* Don't worry about this, will delete later */
#p1 .icon .title {
    margin-bottom: 20px;
}

/* Icons enlarge on hover */
#t2:target ul .icon,#t3:target ul .icon {
    transform: scale(.6);
    transition-delay: .25s;
}

/* Icons enlarge depending on what page youre on */
#t2:target #dos {
    transform: scale(1.2) !important;
}

#t3:target #tres {
    transform: scale(1.2) !important;
}

ul {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
/*right: 0;*/
    margin: auto;
    height: 280px;
    width: 10%;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 30px 0;
}

a {
    text-decoration: none;
    font-family: open sans,sans-serif;
}

.title,.hint {
    font-family: open sans,sans-serif;
    display: block;
}

.title {
    font-size: 38px;
}

.hint {
    font-size: 13px;
}

.hint a {
    color: #EFFF06;
    transition: all 250ms easet-out;
}

.hint a:hover {
    color: #FFF;
}

.page .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 0;
    width: 270px;
    height: 170px;
    margin: auto;
    text-align: center;
    font-size: 80px;
    transform: translateX(360%);
    line-height: 1.3;
}

.page#p1 .icon {
    height: 220px;
}

.page#p1 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
}

#t2:target .page#p2 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
}

#t3:target .page#p3 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
}

.credit {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.credit a {
    color: #fff;
}

.homepage-event-image {
    padding-left: 20px;
    padding-right: 20px;
}

.event-link {
    display: block;
/*height: soemting;*/
/*width: 100%;*/
/*  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);*/
}

.info-box {
    visibility: hidden;
    color: #000;
    position: absolute;
    background: #f8f8ff;
    z-index: 5;
}

.info {
    position: inherit;
    width: 100%;
    border: #848484 1px;
    box-sizing: border-box;
    font-family: monospace;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 3px;
    color: #000;
    margin-top: 5px;
}

.more-info {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

/*.homepage-event-image:hover > .info-box{
  visibility: visible;
}*/
/*  .homepage-event-image:hover{
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  position: relative;
}*/
.somelogo {
    padding: 0;
    margin: 0;
}

.home-page-background {
    background: url(/assets/dtglogo3.jpg) center no-repeat;
    background-size: cover;
}

.facebook {
    font-family: Roboto;
    height: 150px;
    padding-top: 15vh;
    color: #F7FAFF;
    padding-top: 650px;
    padding-right: 250px;
}

.facebook .spacer {
    margin-bottom: 5px;
}

.facebook .title {
    font-size: 20px;
}

.btn.btn-facebook {
    position: relative;
    color: #F7FAFF;
    text-indent: 35px;
    border-color: #263961;
    background-color: #4c70ba;
    background-image: linear-gradient(to bottom,transparent 0%,#3b5998 65%,#263961 100%);
}

.btn.btn-facebook:before {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid rgba(76,112,186,0.6);
    background-color: #263961;
    background-image: url(https://dl.dropboxusercontent.com/u/48498161/codepen/RNVdYg/facebook-logo.svg);
    background-size: auto 75%;
    background-position: 65% bottom;
    background-repeat: no-repeat;
}

.btn.btn-facebook:hover {
    background-color: #263961;
    background-image: linear-gradient(to bottom,#4c70ba 0%,#3b5998 50%,transparent 100%);
}

.btn.btn-facebook.btn-ocd:before {
    background-position: 50%;
}

.btn.btn-facebook:active,.btn.btn-facebook:focus {
    outline: none;
}

.btn.btn-facebook.btn-xl {
    text-indent: 60px;
}

.btn.btn-facebook.btn-xl:before {
    width: 60px;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 30px;
    //changethistoyourdesiredsizeline-height: normal;
}

body.modal-open,.modal-open .navbar-fixed-top,.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    left: 10%;
    top: 10%;
    bottom: auto;
    right: auto;
    z-index: 1050;
    padding: 0;
    width: 70%;
/*  margin-left: -340px;
*/
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}

.modal-title {
    color: #000;
}

.modal-event-title {
    text-align: center;
}

.modal.container {
    max-width: none;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.modal-header {
    padding: 8px;
}
</style>
<div class="ct" id="t1">
<div class="ct" id="t2">
<div class="ct" id="t3">
<div class="ct" id="t4">

      <!-- NAV BAR -->
        <section>
          <!-- Left navigation bar. Icons that use anchors to pull in page into view (#t2 = Events page) -->
          <ul>
            <ul class="login">
              <%= render 'devise/menu/registration_items' %>
              <%= render 'devise/menu/login_items' %>
            </ul>
            <a href="#t1"><li class="icon fa fa-home" id="uno"><span class="hint"> Home </span></li></a>
            <a href="#t2"><li class="icon fa fa-thumb-tack" id="dos"><span class="hint"> Events </span></li></a>
            <a href="#t3"><li class="icon fa fa-comments" id="tres"><span class="hint"> Messages </span></li></a>
            <% if current_user %>
						<a href="#" class="event-link event-image" id="#myModal_<%=current_user.id%>" data-target="#myModal_<%=current_user.id%>" data-toggle="modal"
            <% end %>  
			><li class="icon fa fa-user" id="cuatro"><span class="hint">Profile </span></li></a>
					</ul>
        </section>
        <!-- End of nav bar -->
				<!--Profile Page -->
        <% if current_user %>
				<tbody class="usersTable">
      <tr>
        <td>
          <div class="modal fade" id="myModal_<%=current_user.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="760" data-backdrop="true" style="width: 600px;height:600px;">
            <div class="modal-dialog" style="color: red">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel"><%= "#{current_user.name}" %></h4>
									<div id="userimage">
									<%= image_tag(current_user.user_image) %>
									</div>

                </div>
                <div class="modal-body">
									<%= render 'users/form', user: current_user %>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </td>
      </tr>
  </tbody>
  <% end %>
	<!-- End of profile page -->


        <!-- Home Page -->
        <section>
          <div class="page home-page-background" id="p1">
            <div class="container-fluid">
              <!-- facebook login -->
              <%- if devise_mapping.omniauthable? && !user_signed_in?%>
              <%- resource_class.omniauth_providers.each do |provider| %>
              <%#= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), id: "sign_in" %>
              <%= link_to omniauth_authorize_path(resource_name,provider),id: "popup" do %>
              <div class="facebook text-center" >
                <div class="spacer"><i class="fa fa-facebook btn btn-xl btn-facebook">Login with Facebook</i></div>
              </div>
              <% end -%>
              <% end -%>
              <% end -%>
            </div>
          </div>
        </section>
  <!-- facebook login end -->

        <!-- Events Page -->
        <section>
          <div class="page" id="p2">
            <div class="at-the-top container-fluid" style="text-align:center;">
              <a href='#' id="my-events-all" style="display:inline-block;">All</a>              
              <a href='#' id="my-events-mine" style="display:inline-block;">My Events</a>
            </div>
            <div class="container-fluid" id="event-page-style">          
            </div>
          </div>  
        </section>
            <!-- End of Events page -->
            
            <!-- Messages Page -->
        <section>
          <div class="page" id="p3">
            <div class="inside">
              <div>
                <iframe src="/mailbox/inbox.html" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" width="1400" height="800">
                </iframe>
              </div>
            </div>
          </div>
        </section>
            <!-- End of messages page -->



            <!-- Footer -->
        <section>
          <p class="credit"> &copy; Down 2 Go <a href="https://downtogo.com/">Made in Brooklyn</a></p>
</div>
</div>
</div>
</div>
</section>
    <!-- End of Footer -->



