<nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Compose", new_conversation_path %></li>
        <li><%= link_to "Inbox", mailbox_inbox_path %><span class="dropBottom"></span>
            <ul>
                <li><%= link_to "Sent", mailbox_sent_path %></li>
                <li><%= link_to "Trash", mailbox_trash_path %></li>
            </ul>
        </li>
        <li><%= "Hello, #{current_user.name}" %></li>
      <% else %>
        <li class="active"><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
</nav>