<!DOCTYPE html>
<html>
<head>
  <title>Mailbox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<%= analytics_init if Rails.env.production? %>
</head>
	<body style="padding-top:0; padding-bottom:0;">
<div class="navcontainer">
  <nav class="navi">
      <ul class="navi">
        <% if user_signed_in? %>
          <li class="navicomp"><%= link_to "Compose", new_conversation_path, :class => "navicomp" %></li>   <!-- <li><%=unread_messages_count%></li> -->
          <li class="navi"><%= link_to "Inbox", mailbox_inbox_path, :class=> "navi" %></li>
          <li class="navi"><%= link_to "Sent", mailbox_sent_path, :class=> "navi" %></li>
          <li class="navi"><%= link_to "Trash", mailbox_trash_path, :class=> "navi" %></li>
          <li class="navi"><%= "Hello, #{current_user.name}" %></li>
        <% else %>
          <li class="active"><%= link_to "Login", new_user_session_path %></li>
          <li class="navi"><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
  </nav>
</div>


	 
<div class="container">
<%= yield %>
</div>
<!--
<ul class="hmenu">
  <%#= render 'devise/menu/registration_items' %>
  <%#= render 'devise/menu/login_items' %>
</ul>
-->
</body>
</html>
